* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 1rem;
  background-color: rgb(29, 43, 14);
  color: rgb(203, 230, 173)
}

a {
  text-decoration: none;
  color: rgb(131, 164, 146);
}

.centralizado {
  justify-content: center;
  padding-bottom: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#sobre img {
  width: 200px;
  padding: 1rem;
  float: left;
  padding-bottom: 2rem;
  font-size: 80px;
}

#sobre {
  padding: 1rem;
}

.container {
  padding: 2rem;
  display: flex;
  text-align: center;
}

#conteudo {
  padding-top: 10rem;
  padding-bottom: 1rem;
}

.card {
  padding-left: 8rem;
}

.card img {
  width: 150px;
}

form {
  margin: 0 auto;
  width: 350px;
  padding: 1em;
}

footer {
  text-align: center;
  gap: 20px;
  position: absolute;
  bottom: absolute;
  width: 100%;
}



@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .card {
    padding-left: 2rem;
  }
}
